/* ##### Css Por Defecto ##### */
/* ------ Contenido ------ */
#wrapper{
    width:100%;
    margin:0;	
    padding:0;
}
/* ------ Mensajes ------ */
.alert_top{
    position:fixed !important;  
    width: 400px !important; 
    /*height: 80px !important;  */
    top: 0px !important; 
    left: 540px !important; 
    z-index:99999 !important; 
}
/* ##### Css Template ##### */
/* --------------- Menu ---------------------*/

.menu_bar {
    display:none;
}

header {
    width: 100%;
}

header nav {
    /*background:#023859;*/
    z-index:1000;
    max-width: 1000px;
    width:100%;
    margin:20px auto;
}

header nav ul {
    list-style:none;
}

header nav ul li {
    display:inline-block;
    position: relative;
}

header nav ul li a {
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 20px;
}

header nav ul li a span {
    margin-right:10px;
}

header nav ul li:hover .children {
    display:block;
}

header nav ul li .children {
    display: none;
    /*background:#011826;*/
    position: absolute;
    width: 150%;
    z-index:1000;
}

header nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
    display: block;
}

header nav ul li .children li a span {
    float: right;
    position: relative;
    top:3px;
    margin-right:0;
    margin-left:10px;
}

header nav ul li .caret {
    position: relative;
    top:3px;
    margin-left:10px;
    margin-right:0px;
}

@media screen and (max-width: 800px) {
    body {
            padding-top:80px;
    }

    .menu_bar {
            display:block;
            width:100%;
            position: fixed;
            top:0;
            /*background:#E6344A;*/
    }
    
    .menu_bar .bt-menu {
            display: block;
            /*padding: 20px;*/
            color: #fff;
            overflow: hidden;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
    }
    
    .menu_bar span {
            float: right;
            font-size: 40px;
    }
    
    header nav {
            width: 90%;
            height: calc(100% - 80px);
            position: fixed;
            right:100%;
            margin: 0;
            overflow: scroll;
    }

    header nav ul li {
            display: block;
            border-bottom:1px solid rgba(255,255,255,.5);
    }

    header nav ul li a {
            display: block;
    }

    header nav ul li:hover .children {
            display: none;
    }

    header nav ul li .children {
            width: 100%;
            position: relative;
    }

    header nav ul li .children li a {
            margin-left:20px;
    }

    header nav ul li .caret {
            float: right;
    }
}

/* <<<<< FOOTER >>>>> */
.footer-bottom {
        border-radius: 4px;
        width: 98%;
        margin: 0 auto;
        margin-top: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}