/*!

 =========================================================
 * Web Transaccional - v1.0.0
 =========================================================
 
 * Autor: Gabriel Reyes
 * Fecha: 10/01/2018
 * Version: 1.0.0
 
 =========================================================

 */

/* #######################################################
                LIMPIAMOS LA PAGINA
####################################################### */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box; /* Para poner el padding que no deje espacios */
    font-family: sans-serif;
}

main {
    width: 100%;
}

hr{
    width: 80%;
    margin: auto;
    height: 1px;
    border: none;
    background: #A319A4;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.container {
    width: 100%;
}

/* #######################################################
                        HEADER
####################################################### */

.dti_contact {
    background: #fff;
    margen:auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    color: #000;
}

.dti_contact a{
    text-decoration: none !important;
    color: #000;
}

.dti_header{
    background: #1f1f1f;
    height: 60px;
    display: flex;
    color: #fff;
    border-radius: 10px;
    transition: all 300ms;
}

.dti_header:hover{
    /* Efecto Sombra */
    background: #3f3f3f;
    /*box-shadow:
    1px 1px #e96bea,
    2px 2px #e96bea,
    3px 3px #e96bea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);*/
}

.dti_header .dti_titulo{
    margin: auto;
    text-align: left;
    width: 50px;
}

.dti_header .dti_submenu{
    margin-top: 2px;
    margin-right: 10px;
    font-size: 22px;
    float: left !important;
}

.dti_header .dti_submenu ul li span{
    padding-right: 10px;
    padding-left: 10px;
}

.dti_header .dti_submenu ul{
    margin-right: 30px;
}

.dti_header .dti_submenu ul li a{
    text-decoration: none !important;
    color: #fff;
}

.dti_header .dti_submenu ul li ul li a{
    text-decoration: none !important;
    color: #000;
}

.dti_header .dti_submenu ul li a:hover{
    background: #EEEEEE !important; opacity: 0.5;
    color: #1f1f1f !important;
    cursor: pointer;
}

.dti_header .dti_logo{
    padding: 5px;
    text-align: center;
    color: #383838;
    display: flex !important;
}
.dti_header .dti_logo:hover{
    /* Agrandar */
    /*-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);*/
    /* Achicar */
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.dti_header .dti_logo img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/* #######################################################
                        CONTENIDO
####################################################### */

.dti_contenido{
	/*padding: 20px;*/
	/*margin-left: 260px;*/
	background: #F7F7F8;
	transition: all 300ms;
}

.dti_contenido{
	/*font-size: 30px;*/
}

.dti_contenido p{
	font-size: 14px;
	margin-top: 15px;
	border: 1px;
	padding: 5px;
}

.dti_contenido_show{
	margin-left: 0px;
}

/* #######################################################
                        FOOTER
####################################################### */

.dti_footer {
        border-radius: 4px;
        width: 98%;
        margin: 0 auto;
        margin-top: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.dti_footer p.pull-left {
	padding-top: 6px;
}